<div class="workspace">

  <div style="margin-left: 5%; height: 100%;">
    <div class="flexRow" style="margin-top: 5%; margin-bottom: 19px;">
      <div class="card card-titles">
        <div style="margin: 15px 15px; z-index: 1;">
          <h1 style="color:#E67E22">Hunter Tutorials</h1>
        </div>
      </div>
    </div>

    <div class="flexrow" style="height:75vh">
      <div class="card card-content">
        <div class="explainText">
          <p>Tutorials are being written (both written and online video) to guide new users through the steps of setting
            up basic and advanced applications.</p>
          <p>Basic tutorials are fixed: in that they address all the general uses and features of Hunter.</p>
          <p>The Advanced tutorials are a part of the licensed version of the application as purchased for a 
            unique type, research methods, and focus on a custom Genetic-backend.
          </p>
          <p>
          <b>Note:</b> These tutorials are <u>geared toward the company/user's unique research area.</u>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>

