<!-- <app-navBar></app-navBar> -->
<div class="workspace">
  <div style="margin-left: 5%; height:100%">

    <div class="flexRow" style="margin-top: 5%; margin-bottom: 19px;">
      <div class="card card-titles">
        <div style="margin: 15px 15px; z-index: 1;">
          <h1 style="color: #E67E22;">Using Hunter</h1>
        </div>
      </div>
    </div>

    <div class="flexRow">
      <div class="card card-content">
        <div class="explainText"  style="height: 50vh">
          <p> Hunter works along side the scientist, engineer, or researcher. </p>
          <p> It uses knowledge its human partner(s) have accrued from their own experience.  
            Hunter then can wade through complex subjects to bring focus to possible solutions.
          </p>
          <p> It can be effective in optimizing processes such as manufacturing.</p>
          <p> Hunter senses changes in the problem environment and adapts by making
            adjustments as needed.</p>
        </div>
      </div>
    </div>
  </div>

</div>

