<div class="workspace">

  <div style="margin-left: 5%">
    <div class="flexRow" style="margin-top: 5%; margin-bottom: 19px;">
      <div class="card card-titles">
        <div style="margin: 15px 15px; z-index: 1;">
          <h1 style="color:#E67E22">See Some Examples</h1>
        </div>
      </div>
    </div>

    <div class="flexrow" style="height: 75vh">
      <div class="card card-content">
        <div class="explainText">
          <p>The Engineering group is developing basic problem sets for
          demonstration and tutorials.</p>
          <p>When you first receive an account, you are provided a set of tutorial 'projects' that 
            you observe and modify as you wish to 'try out'.</p>
          <p>Fear not: you are allowed to reload the projects if you mess them up :-)</p>
          <p>A few tutorial problems:</p>
          <ul>
            <li>Find the 10th Root of 25 billion; like a square root only harder.</li>
            <li>The Traveling Saleman Problem - who must visit each of a number of cities in the most
            efficient order.</li>
            <li>more being added... stay tuned</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>

