<div class="workspace">

  <div style="margin-left: 5%">
    <div class="flexRow" style="margin-top: 5%; margin-bottom: 19px;">
      <div class="card card-titles">
        <div style="margin: 15px 15px; z-index: 1;">
          <h1 style="color:#E67E22">Researching With Hunter</h1>
        </div>
      </div>
    </div>

    <div class="flexrow" style="height: 75vh;">
      <div class="card card-content">
        <div class="explainText">
          <p> Solution Hunter Engineering itself uses Hunter for leading edge research. Some
            of the results will appear as new features in Hunter.
          </p>
          <p> Hunter can be licensed in a number of forms:</p>
          <ul>
            <li> The initial installation of a release purchased for internal use is supported and later 
              can be supported by a license (see Contracts). </li>
            <li> Hunter can be used on an as-needed basis on available cloud platforms.
            </li>
            <li>Adaptive pre-releasing - the "back-end of the Genetics Hunter" is sensitive to the industry
            and subject of the research and thus, can require some customization where Solution
            Hunter Engineering works with the client company to build the backend "evaluators" (or adapt ones that Hunter
            may already have.) 
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>

