<div class="workspace">
  <div style="margin-left: 5%;">
    <div class="flexRow" style="margin-top: 5%; margin-bottom: 19px;">
      <div class="card card-titles">
        <div style="margin: 15px 15px; z-index: 1;">
          <h1>What is "Hunter"</h1>
        </div>
      </div>
    </div>

    <div class="flexrow" style="height: 75vh">
      <div class="card card-content">
        <div class="explainText">
          <p>Hunter Searches for answers to problems that normal computer methods
            can’t find a solution in a reasonable time.

          <p>The Traveling Salesman problem is an example. The salesperson is to
            visit each of 15 cities and stop at each only once; find the shortest route.
            Using traditional searching computing methods, this
            involves about 1.6 Trillion combinations taking centuries to solve.</p>

          <p>Historically, the approach to solve harder problems had been to use computers working together
            for days, weeks, or or longer. Not only expensive, it often didn't produce results 
            in the time needed.</p>

          <p>Hunter has been designed
            with advanced computing methods along with leading-edge enhancements to "Genetic
            Algorithms" and gets that answer much sooner. </p>
        </div>
      </div>
    </div>
  </div>

</div>
