<div class="workspace">
  <div class="flexColumn">
    <!-- left column -->
    <div  style="height: 12vh"></div>
    <div style="margin-left: 5%">
      <div class="flexRow">
        <div class="card card-titles">
          <div style="margin: 15px 15px; z-index: 1;">
            <h1 style="color: #E67E22">Consulting Services</h1>
          </div>
        </div>
      </div>

      <div class="flexRow" style="height: 6vh"></div>

      <div class="flexRow">
        <div class="card card-content">
          <div class="explainText">
            <p>Solution Hunter Engineering has full-stack experience and has designed, implemented, maintained, and supported the Solution Hunter product.
              Research into uses of Genetic Algorithms extends over twenty years and has developed stunning prototypes in a number of areas.</p>
            <p>There is no question that Hunter is easy to use for many projects.  There is also little doubt that deep scientific research requires
              specific programming expertise to create the most effective integration with the Hunter engine.</p>
            <p> Solution Hunter Engineering stands ready to provide that expertise to get you off the ground and running or to work continuously with you on your projects.</p>
            <p>  <b>See Contacts -> Contact Us.</b></p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

