<div class="container-fluid workspace ">
  <div style="margin-top: 7%; margin-left: -60px; flex-basis: 0; flex-grow:1; display: flex; flex-direction: row; justify-content: space-evenly; width: 130vw; font-size: 24px; color: white;">
    <div>
      <p>Software Eng.</p>
      <p>Multi-Sciences</p>
    </div>
    <div>
      <p data-cy="artIntel">Artificial Intelligence</p>
      <p>&nbsp;Genetic Algorithms</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DotNetCore</p>
    </div>
    <div>
      <p>Business/Finance</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Research</p>
      <p>Manufacturing</p>
    </div>
    <div>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Consulting</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Support </p>
    </div>
    <div>
      <p>&nbsp;&nbsp;Littleton,</p>
      <p>&nbsp;&nbsp;Mass USA</p>
    </div>
  </div>

</div>
