<div class="workspace">

  <div style="margin-left: 5%" style="margin-top: 5%; margin-bottom: 19px;">
    <div class="flexRow">
      <div class="card card-titles">
        <div style="margin: 15px 15px; z-index: 1;">
          <h1 style="color: #E67E22">Artificial Intelligence</h1>
        </div>
      </div>
    </div>

    <div class="flexRow" style="height: 3vh"></div>

    <div class="flexRow">
      <div class="card card-content">
        <div class="explainText"  style="height: 50vh">
          <p style="color:#E67E22">Brief overview of Artificial Intelligence and Genetic Algorithms.</p>
          <p><b>Artificial Intelligence:</b> computers mimic the way humans think, behave, or evolve
            in order to find a solution.  They evolve to adapt even if the target problem changes.
          </p>
            
          <p> Some AI systems called "Expert Systems" are "hard-wired" with known information to build 
            and maintain things like cars or jet aircraft.  If something is found that it doesn't know,
            human experts build answers into the "Expert System".  
            Expert Systems deal with <b>known</b> problems and generally are not
            intended to learn or adapt.
          </p>
    
          <p> Solution Hunter is based on a model called <b>Genetic Algorithms</b>, which has been given enhanced features. </p>

          <p> Hunter creates "populations" of solutions with tools to solve a problem. Like humans,
            the population evolves through many generations and adapts to its surroundings; in this case,
            the surroundings are the problem to be solved.
            These generations evolve quickly toward a best solution.
          </p>

        </div>
      </div>
    </div>
  </div>

</div>


