<div class="workspace">
    <!-- left column -->
    <div style="height: 5%"></div>

    <div style="margin-left: 5%">
      <div class="flexRow"  style="margin-bottom: 19px;">
        <div class="card card-titles">
          <div style="margin: 15px 15px; z-index: 1;">
            <h1 style="color: #E67E22">What's Hunter Consider a Challenge</h1>
          </div>
        </div>
      </div>

      <div class="flexRow">
        <div class="card card-content">
          <div class="explainText" style="height: 47vh">
            <p>Hunter solves problems so vast that normal computer search methods can’t find
              an solution in a reasonable time - or maybe ever.</p>
            <p>
              For example:
            <ul>
              <li> Medical: A better material replacement for knee cartiledge, Material
                Science (Physics), BioChemical, BioMedical, and others.</li>
              <li> Other BioMedical areas such as Stem Cell Research, Cancer, or Viruses. </li>
              <li> Multi-part problems: first find a physical solution
                then determine how to manufacture it.  
                Hunter's "State-Machine Techniques" allow this.
              </li>
              <li> Other areas from the common cold, flu, HIV, heart disease,  
                Parkinson's, and degenerative aging.
              </li>
              <li> Long-term Weather prediction. A lot of work has gone into improving weather
                prediction over the years; it still has room for improvement.
              </li>
              <li> Improving crop production.</li>
              <li> Creating educational applications that adapt to the abilities and 
                characteristics of the student.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

</div>

